.css-hzuiln {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.css-hzuiln main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  min-height: 90vh;
  max-width: 1320px;
  margin: 0 auto !important;
  overflow-x: auto;
  position: relative;
  margin-top: 51px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 25px;
  padding-bottom: 25px;
}
@media (min-width: 900px) {
  .css-hzuiln main {
    margin-top: 4rem;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
.css-16m5k0g {
  background-color: #000000;
  color: #000000;
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background-image: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09));
  color: #000000;
  background-color: #15191e;
  border-radius: 4px;
  box-shadow: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: fixed;
  z-index: 1100;
  top: 0;
  left: auto;
  right: 0;
  background-image: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #2d3237;
  opacity: 1;
  margin: 0 1px 0px;
  width: calc(100% - 1px);
  position: static;
  z-index: 1500;
}
.css-16m5k0g .MuiList-root {
  padding: 6px 0;
  min-width: 110px;
}
@media print {
  .css-16m5k0g {
    position: absolute;
  }
}
.css-16m5k0g .MuiContainer-root {
  padding: 14px 32px;
}
.css-16m5k0g .MuiToolbar-root {
  min-height: 0;
  padding: 0;
}
@media (max-width: 899.95px) {
  .css-16m5k0g .MuiContainer-root {
    padding: 16px;
  }
}
.css-1ekb41w {
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 600px) {
  .css-1ekb41w {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 1536px) {
  .css-1ekb41w {
    max-width: 1536px;
  }
}
.css-8g4gfm {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 56px;
}
@media (min-width: 600px) {
  .css-8g4gfm {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 320px) {
  @media (orientation: landscape) {
    .css-8g4gfm {
      min-height: 48px;
    }
  }
}
@media (min-width: 600px) {
  .css-8g4gfm {
    min-height: 64px;
  }
}
.css-1smxj0n {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  cursor: pointer;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.125rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 130%;
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  border-radius: 0.125rem;
  --tw-bg-opacity: 1;
  background-color: rgb(229 232 236 / var(--tw-bg-opacity));
  font-weight: 500;
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
}
.css-1smxj0n:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(229 232 236 / var(--tw-bg-opacity));
}
.dark .css-1smxj0n {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.dark .css-1smxj0n:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(60 65 70 / var(--tw-bg-opacity));
}
.dark .css-1smxj0n {
  --tw-bg-opacity: 1;
  background-color: rgb(60 65 70 / var(--tw-bg-opacity));
}
.css-npbxqf {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  cursor: pointer;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.125rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 130%;
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
}
.css-npbxqf:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(229 232 236 / var(--tw-bg-opacity));
}
.dark .css-npbxqf {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.dark .css-npbxqf:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(60 65 70 / var(--tw-bg-opacity));
}
.css-muaxpu {
  position: fixed;
  bottom: 0px;
  left: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  min-width: 320px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-top-width: 2px;
  --tw-border-opacity: 1;
  border-top-color: rgb(229 232 236 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 0.5rem;
}
.dark .css-muaxpu {
  --tw-border-opacity: 1;
  border-top-color: rgb(31 35 40 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
@media (min-width: 900px) {
  .css-muaxpu {
    position: static;
    margin-right: 0.375rem;
    width: auto;
    min-width: 0px;
    border-top-width: 0px;
    padding: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.css-muaxpu .inner-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  gap: 0.5rem;
}
.css-muaxpu.css-muaxpu button {
  border-radius: 0.125rem;
}
.css-mmxf0c {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0;
  font-family: QuestionMark, Roobert, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  color: #ffffff;
}
@media (max-width: 320px) {
  .css-mmxf0c {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
.css-9pjvnf {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: none;
  font-family: QuestionMark, Roobert, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  color: #008462;
  min-width: 64px;
  padding: 6px 8px;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: none;
  font-family: QuestionMark, Roobert, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  color: #ffffff;
}
.css-9pjvnf::-moz-focus-inner {
  border-style: none;
}
.css-9pjvnf.Mui-disabled {
  pointer-events: none;
  cursor: default;
}
@media print {
  .css-9pjvnf {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
}
@media (max-width: 320px) {
  .css-9pjvnf {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
.css-9pjvnf:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: rgba(0, 132, 98, 0.04);
}
@media (hover: none) {
  .css-9pjvnf:hover {
    background-color: transparent;
  }
}
.css-9pjvnf.Mui-disabled {
  color: rgba(0, 0, 0, 0.26);
}
@media (max-width: 320px) {
  .css-9pjvnf {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
.css-9pjvnf.css-9pjvnf {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.125rem;
  --tw-bg-opacity: 1;
  background-color: rgb(0 116 87 / var(--tw-bg-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  text-transform: none;
}
.css-9pjvnf.css-9pjvnf:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 102 76 / var(--tw-bg-opacity));
}
.css-101vbs3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 31px;
  left: 0px;
  display: none;
}
.css-101vbs3 div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 250px;
  padding-left: 3em;
  padding-right: 3em;
}
.css-101vbs3 div p {
  min-height: 20px;
  height: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.css-101vbs3 div div {
  height: 35px;
  width: 35px;
  display: contents;
}
.css-101vbs3 div div i {
  width: 35px;
  height: 35px;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin: 0 auto;
  width: 25px;
  height: 25px;
  -webkit-background-position: center;
  background-position: center;
}
.css-1s36hdv {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.css-1ae8i4r {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media (min-width: 600px) {
  .css-1ae8i4r {
    width: auto;
  }
}
.css-yu1lbc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 560px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.75rem;
  border-radius: 5px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 1rem;
  --tw-shadow: 0px 18px 28px rgba(9, 30, 66, 0.1), 0px 0px 1px rgba(9, 30, 66, 0.2);
  --tw-shadow-colored: 0px 18px 28px var(--tw-shadow-color), 0px 0px 1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.dark .css-yu1lbc {
  --tw-bg-opacity: 1;
  background-color: rgb(21 25 30 / var(--tw-bg-opacity));
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
@media (min-width: 600px) {
  .css-yu1lbc {
    padding: 1.5rem;
  }
}
@media (min-width: 900px) {
  .css-yu1lbc {
    border-radius: 0.375rem;
  }
}
.css-yu1lbc hr {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  --tw-text-opacity: 1;
  color: rgb(229 232 236 / var(--tw-text-opacity));
}
.dark .css-yu1lbc hr {
  --tw-text-opacity: 1;
  color: rgb(31 35 40 / var(--tw-text-opacity));
}
.css-yu1lbc ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 24px;
}
.css-yu1lbc ul li:not(:last-child) {
  margin-bottom: 4px;
}
.css-yu1lbc.css-yu1lbc {
  position: relative;
  width: 100%;
  gap: 0.5rem;
  padding: 0.75rem;
  max-width: 536px;
}
@media (min-width: 600px) {
  .css-yu1lbc.css-yu1lbc {
    gap: 0.75rem;
    padding: 24px;
  }
}
.css-yu1lbc.css-yu1lbc hr {
  padding: 0px;
}
.css-19zowzk {
  margin: 0;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: -2%;
  color: #ffffff;
}
.css-1nestwu {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
  --tw-bg-opacity: 1;
  background-color: rgb(239 241 244 / var(--tw-bg-opacity));
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.dark .css-1nestwu {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
@media (min-width: 600px) {
  .css-1nestwu {
    gap: 2px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}
.css-1aao2o7 {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-width: 0px;
  background-color: transparent;
  font-family: DM Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
  font-size: 16px;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.css-1aao2o7:focus {
  outline: none;
}
.css-1aao2o7:disabled {
  pointer-events: none;
}
.dark .css-1aao2o7 {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
@media (min-width: 600px) {
  .css-1aao2o7 {
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: -2%;
  }
}
.css-1aao2o7::-webkit-input-placeholder {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  --tw-text-opacity: 1;
  color: rgb(169 172 176 / var(--tw-text-opacity));
}
.css-1aao2o7::-moz-placeholder {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  --tw-text-opacity: 1;
  color: rgb(169 172 176 / var(--tw-text-opacity));
}
.css-1aao2o7:-ms-input-placeholder {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  --tw-text-opacity: 1;
  color: rgb(169 172 176 / var(--tw-text-opacity));
}
.css-1aao2o7::placeholder {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  --tw-text-opacity: 1;
  color: rgb(169 172 176 / var(--tw-text-opacity));
}
.dark .css-1aao2o7::-webkit-input-placeholder {
  --tw-text-opacity: 1;
  color: rgb(45 50 55 / var(--tw-text-opacity));
}
.dark .css-1aao2o7::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(45 50 55 / var(--tw-text-opacity));
}
.dark .css-1aao2o7:-ms-input-placeholder {
  --tw-text-opacity: 1;
  color: rgb(45 50 55 / var(--tw-text-opacity));
}
.dark .css-1aao2o7::placeholder {
  --tw-text-opacity: 1;
  color: rgb(45 50 55 / var(--tw-text-opacity));
}
.css-4plb0w {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  gap: 0.5rem;
}
@media (min-width: 600px) {
  .css-4plb0w {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
  }
}
.css-1lfmxz4 {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: none;
  font-family: QuestionMark, Roobert, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  color: #008462;
  min-width: 64px;
  padding: 6px 8px;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: none;
  font-family: QuestionMark, Roobert, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  color: #ffffff;
}
.css-1lfmxz4::-moz-focus-inner {
  border-style: none;
}
.css-1lfmxz4.Mui-disabled {
  pointer-events: none;
  cursor: default;
}
@media print {
  .css-1lfmxz4 {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
}
@media (max-width: 320px) {
  .css-1lfmxz4 {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
.css-1lfmxz4:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: rgba(0, 132, 98, 0.04);
}
@media (hover: none) {
  .css-1lfmxz4:hover {
    background-color: transparent;
  }
}
.css-1lfmxz4.Mui-disabled {
  color: rgba(0, 0, 0, 0.26);
}
@media (max-width: 320px) {
  .css-1lfmxz4 {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
.css-1lfmxz4.css-1lfmxz4 {
  width: 100%;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(0 116 87 / var(--tw-bg-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  text-transform: none;
}
.css-1lfmxz4.css-1lfmxz4:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 102 76 / var(--tw-bg-opacity));
}
.css-1lfmxz4.css-1lfmxz4 {
  height: 34px;
  width: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0.5rem;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}
@media (min-width: 600px) {
  .css-1lfmxz4.css-1lfmxz4 {
    width: 144px;
    -webkit-flex-basis: 34px;
    -ms-flex-preferred-size: 34px;
    flex-basis: 34px;
  }
}
.css-1draunl {
  margin: 0;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  font-family: QuestionMark, Roobert, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  color: #ffffff;
}
@media (max-width: 320px) {
  .css-1draunl {
    font-size: 0.625rem;
  }
}
.css-13fbhbb {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: none;
  font-family: QuestionMark, Roobert, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  color: #008462;
  min-width: 64px;
  padding: 6px 8px;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: none;
  font-family: QuestionMark, Roobert, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  color: #ffffff;
}
.css-13fbhbb::-moz-focus-inner {
  border-style: none;
}
.css-13fbhbb.Mui-disabled {
  pointer-events: none;
  cursor: default;
}
@media print {
  .css-13fbhbb {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
}
@media (max-width: 320px) {
  .css-13fbhbb {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
.css-13fbhbb:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: rgba(0, 132, 98, 0.04);
}
@media (hover: none) {
  .css-13fbhbb:hover {
    background-color: transparent;
  }
}
.css-13fbhbb.Mui-disabled {
  color: rgba(0, 0, 0, 0.26);
}
@media (max-width: 320px) {
  .css-13fbhbb {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
.css-13fbhbb.css-13fbhbb {
  width: 100%;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(0 116 87 / var(--tw-bg-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  text-transform: none;
  --tw-bg-opacity: 1;
  background-color: rgb(229 232 236 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  opacity: 0.2;
}
.css-13fbhbb.css-13fbhbb:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 102 76 / var(--tw-bg-opacity));
}
.css-13fbhbb.css-13fbhbb:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(169 172 176 / var(--tw-bg-opacity));
}
.dark .css-13fbhbb.css-13fbhbb {
  --tw-bg-opacity: 1;
  background-color: rgb(45 50 55 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.dark .css-13fbhbb.css-13fbhbb:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(45 50 55 / var(--tw-bg-opacity));
}
.css-13fbhbb.css-13fbhbb {
  height: 34px;
  width: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0.5rem;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}
@media (min-width: 600px) {
  .css-13fbhbb.css-13fbhbb {
    width: 144px;
    -webkit-flex-basis: 34px;
    -ms-flex-preferred-size: 34px;
    flex-basis: 34px;
  }
}
.css-2lhhql {
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 26px;
  width: 26px;
  cursor: default;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-radius: 9999px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(239 241 244 / var(--tw-bg-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.dark .css-2lhhql {
  --tw-border-opacity: 1;
  border-color: rgb(21 25 30 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
.css-1jmni8d {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: none;
  font-family: QuestionMark, Roobert, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  color: #008462;
  min-width: 64px;
  padding: 6px 8px;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: none;
  font-family: QuestionMark, Roobert, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  color: #ffffff;
}
.css-1jmni8d::-moz-focus-inner {
  border-style: none;
}
.css-1jmni8d.Mui-disabled {
  pointer-events: none;
  cursor: default;
}
@media print {
  .css-1jmni8d {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
}
@media (max-width: 320px) {
  .css-1jmni8d {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
.css-1jmni8d:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: rgba(0, 132, 98, 0.04);
}
@media (hover: none) {
  .css-1jmni8d:hover {
    background-color: transparent;
  }
}
.css-1jmni8d.Mui-disabled {
  color: rgba(0, 0, 0, 0.26);
}
@media (max-width: 320px) {
  .css-1jmni8d {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
.css-1jmni8d color {
  200: #a4dfff;
  500: #23b1ff;
  main: #23b1ff;
  light: rgb(79, 192, 255);
  dark: rgb(24, 123, 178);
  contrast-text: rgba(0, 0, 0, 0.87);
}
.css-1jmni8d.css-1jmni8d {
  width: 100%;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(0 116 87 / var(--tw-bg-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  text-transform: none;
  --tw-bg-opacity: 1;
  background-color: rgb(229 232 236 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.css-1jmni8d.css-1jmni8d:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 102 76 / var(--tw-bg-opacity));
}
.css-1jmni8d.css-1jmni8d:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(169 172 176 / var(--tw-bg-opacity));
}
.dark .css-1jmni8d.css-1jmni8d {
  --tw-bg-opacity: 1;
  background-color: rgb(45 50 55 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.dark .css-1jmni8d.css-1jmni8d:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(60 65 70 / var(--tw-bg-opacity));
}
.css-1tpvyg6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  gap: 0.375rem;
  text-align: center;
}
.css-1spwsbf {
  position: relative;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgb(229 232 236 / var(--tw-bg-opacity));
  font-size: 0.875rem;
  line-height: 130%;
  --tw-text-opacity: 1;
  color: rgb(45 50 55 / var(--tw-text-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}
.css-1spwsbf:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(169 172 176 / var(--tw-bg-opacity));
}
.dark .css-1spwsbf {
  --tw-bg-opacity: 1;
  background-color: rgb(31 35 40 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.dark .css-1spwsbf:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(45 50 55 / var(--tw-bg-opacity));
}
.css-1spwsbf select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgb(229 232 236 / var(--tw-bg-opacity));
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 2rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(45 50 55 / var(--tw-text-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.css-1spwsbf select:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(169 172 176 / var(--tw-bg-opacity));
}
.dark .css-1spwsbf select {
  --tw-bg-opacity: 1;
  background-color: rgb(31 35 40 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.dark .css-1spwsbf select:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(45 50 55 / var(--tw-bg-opacity));
}
.css-1spwsbf .icon {
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  color: currentColor;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.css-1spwsbf.css-1spwsbf,
.css-1spwsbf select {
  min-width: 142px;
  max-width: 300px;
  --tw-bg-opacity: 1;
  background-color: rgb(31 35 40 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.css-1spwsbf.css-1spwsbf:hover,
.css-1spwsbf select:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(45 50 55 / var(--tw-bg-opacity));
}
.dark .css-1spwsbf.css-1spwsbf,
.dark .css-1spwsbf select {
  --tw-bg-opacity: 1;
  background-color: rgb(31 35 40 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.dark .css-1spwsbf.css-1spwsbf:hover,
.dark .css-1spwsbf select:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(45 50 55 / var(--tw-bg-opacity));
}
@media (min-width: 600px) {
  .css-1spwsbf.css-1spwsbf,
  .css-1spwsbf select {
    max-width: none;
  }
}

.css-35mpm5:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 102 76 / var(--tw-bg-opacity));
}

.css-35mpm5 {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  min-width: 64px;
  padding: 6px 8px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  margin: 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: none;
  font-family: QuestionMark, Roobert, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  color: rgb(0, 0, 0);
}

.css-35mpm5.css-35mpm5 {
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.125rem;
  --tw-bg-opacity: 1;
  background-color: rgb(0 116 87 / var(--tw-bg-opacity));
  padding: 0.5rem 1.8rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  text-transform: none;
}
.css-1exm00j {
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-shrink: 0;
  top: 0px;
  left: auto;
  right: 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  box-shadow: none;
  background-image: none;
  border-radius: 0px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  border-bottom: 1px solid rgb(229, 232, 236);
  margin: 0px 1px;
  width: calc(100% - 1px);
  position: static;
  z-index: 1500;
}
.css-2wlho5 {
  margin: 0px;
  font-size: 1.5rem;
  line-height: 110%;
  color: rgb(0, 0, 0);
}

.css-kjyh70 {
  display: flex;
  height: 34px;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  gap: 0.625rem;
  border-radius: 0.25rem;
  border-style: none;
  --tw-bg-opacity: 1;
  background-color: rgb(229 232 236 / var(--tw-bg-opacity));
  padding: 0.5rem;
  flex-basis: 50%;
  transition: all 0.2s ease 0s;
}
.css-8krjsn {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 0.375rem;
}
.css-15753k5 {
  display: flex;
  flex-shrink: 0;
  -webkit-box-align: center;
  align-items: center;
}
.css-m1yo1i {
  margin: 0px;
  font-size: 0.75rem;
  line-height: 1rem;
  /* font-weight: 400; */
  letter-spacing: 0px;
  font-family: QuestionMark, Roobert, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  color: rgb(0, 0, 0);
}
.css-1w6n47d {
  z-index: 1;
  display: flex;
  height: 26px;
  width: 26px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 9999px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(239 241 244 / var(--tw-bg-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
}

.css-18mk15y.css-18mk15y:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 102 76 / var(--tw-bg-opacity));
}
.css-18mk15y.css-18mk15y {
  width: 100%;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(0 116 87 / var(--tw-bg-opacity));
  padding: 0.375rem 1rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  text-transform: none;
}
.css-18mk15y {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  min-width: 64px;
  padding: 6px 8px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  margin: 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: none;
  font-family: QuestionMark, Roobert, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}
.css-16jc9eg {
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(229 232 236 / var(--tw-bg-opacity));
  padding: 0.75rem;
  font-size: 12px;
  font-weight: 400;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  text-transform: none;
}
.css-ljhvh.css-ljhvh {
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.125rem;
  padding: 0.5rem 1rem;
  --tw-text-opacity: 1;
  /* color: rgb(255 255 255 / var(--tw-text-opacity)); */
  text-transform: none;
  --tw-bg-opacity: 1;
  /* background-color: rgb(21 25 30 / var(--tw-bg-opacity)); */
}
.css-ljhvh.css-ljhvh {
  width: auto;
  flex-shrink: 0;
  -webkit-box-pack: justify;
  justify-content: space-between;
  --tw-bg-opacity: 1;
  background-color: rgb(229 232 236 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.css-ljhvh {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  min-width: 64px;
  padding: 6px 8px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  margin: 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: none;
  font-family: QuestionMark, Roobert, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  color: rgb(0, 0, 0);
}
.css-1f8h885 {
  display: inline-block;
  height: 0.625rem;
  width: 0.625rem;
  flex-shrink: 0;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(0 188 141 / var(--tw-bg-opacity));
}
.css-1xcwaqa {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  min-width: 64px;
  padding: 6px 8px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  margin: 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: none;
  font-family: QuestionMark, Roobert, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  color: rgb(0, 0, 0);
}
.css-1xcwaqa.css-1xcwaqa {
  width: 100%;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(0 116 87 / var(--tw-bg-opacity));
  padding: 0.375rem 1rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  text-transform: none;
}
.css-1xcwaqa.css-1xcwaqa {
  height: 34px;
  width: auto;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0.5rem;
  flex-basis: 50%;
}
.css-1xcwaqa.css-1xcwaqa:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 102 76 / var(--tw-bg-opacity));
}
.css-e779zy {
  margin-bottom: 1.5rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
.eo840kt4 .MuiPaper-root {
  width: 100%;
}
.css-i3l18a {
  margin: 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0px;
  font-family: QuestionMark, Roobert, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  color: rgb(0, 0, 0);
}
.css-10c6y6e {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 0px 1rem 1rem;
}
.css-gj7b5f {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 1.5rem;
}
.css-19s3tzc {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(229 232 236 / var(--tw-bg-opacity));
  padding: 0.5rem 1rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.css-19s3tzc:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(239 241 244 / var(--tw-bg-opacity));
}
.css-11dp9kx {
  width: 100%;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  padding: 0.375rem 1rem;
  text-transform: none;
  --tw-bg-opacity: 1;
  background-color: rgb(229 232 236 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  opacity: 0.2;
}
@media (min-width: 600px) {
  .css-10c6y6e {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .css-e779zy {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
  }
  .css-1xcwaqa.css-1xcwaqa {
    width: 144px;
    flex-basis: 34px;
  }
  .css-kjyh70 {
    width: 144px;
    flex-basis: 34px;
  }
  .css-16jc9eg {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
